@page
@model Dvoting.Pages.VoterModel
@{
}

<script type="module" src="~/js/Voter.js"></script>



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Vote</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Vote.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.0.7, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">
        {
                "name": "",
                "logo": "images/ISG_logo_Princess-Sumaya-University-for-Technology_rev_RGB.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Vote">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="en">

    <section class="u-clearfix u-palette-1-dark-3 u-section-1" id="sec-090f">


        <div id="errorNotAllowedToVote" class="alert alert-danger" role="alert" style="display:none;margin">
            You Are Not Allowed To Vote, Please Get A Permission From The Admin
        </div>
        <div id="errorAlreadyVoted" class="alert alert-danger" role="alert" style="display:none">
            You Have Already Casted Your Vote
        </div>

        <div id="VotedSuccessfully" class="alert alert-success" role="alert" style="display:none">
            Your Vote Has Been Casted
        </div>
        <div id="VoteID" class="alert alert-success" role="alert" style="display:none">
            
        </div>

        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-form u-form-1">
                <form  class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" name="form" style="padding: 10px;">             
                    <div class="u-form-group u-form-select u-form-group-3">
                        <label for="CandidatesList" class="u-label u-label-3">Please Select your Candidate</label>
                        <div class="u-form-select-wrapper">
                            <select id="CandidatesList" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                <option value="-1" disabled selected>Choose The Candidates</option>
                            </select>
                            <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                        </div>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                        <a id="VoteButton" class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Submit Vote</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                @*    <div class="u-form-send-message u-form-send-success"> Thank you! Your vote has been casted. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to cast your vote. </div>*@
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="32432a5ab1b086abccca1dd3e0ee327c">
                </form>
            </div>
        </div>
    </section>

</body>



<script>

async function connect() {
        //console.log(ethers);
  if (typeof window.ethereum !== "undefined") {
    console.log("MetaMask deteced");
    await window.ethereum.request({ method: "eth_requestAccounts" });
    document.getElementById("ConnectButton").innerHTML = "Connected !!";

    //fill the candidates list once connected
    document.getElementById("getCandidatesButton").click()

  } else {
    document.getElementById("ConnectButton").innerHTML = "Please Install MetaMask";
  }
}
connect();

</script>

<script>

    var Interval = setInterval(async function () {
        if ($("#CandidatesList option").length == 1) {          
            connect();
            }     
    }, 2000);


</script>



<div class="text-center" style="display:none">
    <button onclick="connect()" id="ConnectButton">Connect Wallet</button>
       <button id="getCandidatesButton">getCandidates</button>       
    <button id="TestButton">Test</button>
</div>